* {
  color: #4a312c;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "KirnBerg";
  src: url("../fonts/adinekirnberg.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
body {
  background-color: #F8F6F4;
}

.header_block {
  width: 100%;
  background-image: url(../pictures/png/atlas.png);
  background-size: 70%;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  margin-bottom: 5vw;
  margin-top: 2vw;
}
.header_block .header_block_img {
  width: 10vw;
}
.header_block .header_block_text {
  margin-top: 20vw;
  font-family: "KirnBerg";
  font-size: 7.5vw;
  line-height: 4vw;
}
.header_block .header__img_marshrut {
  position: absolute;
  overflow: hidden;
  top: 15%;
  left: 53%;
  width: 25vw;
}
.header_block .header__img_plain {
  position: absolute;
  overflow: hidden;
  top: 17%;
  left: 55%;
  width: 2.5vw;
  offset-path: path("M246.5 28C254.5 -7.49999 302 -8.99999 320 28C338 65 289.756 91.5386 246.5 131C203.244 170.461 146.117 162.851 105.5 131L1 50");
  -webkit-animation: move 5s linear infinite;
          animation: move 5s linear infinite;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  offset-rotate: auto 135deg;
}
@-webkit-keyframes move {
  100% {
    offset-distance: 100%;
  }
}
@keyframes move {
  100% {
    offset-distance: 100%;
  }
}

.ticket {
  margin: auto;
  padding-top: 50px;
  width: 100%;
  height: 50vw;
  background-image: url(../pictures/png/atlas.png);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  margin-bottom: 5vw;
}
.ticket .ticket_title {
  font-family: "KirnBerg";
  font-size: 5.5vw;
  line-height: 3vw;
  margin-bottom: 3vw;
}
.ticket .ticket_text {
  font-size: 1.2vw;
  line-height: 1.3vw;
  margin-bottom: 1.3vw;
}
.ticket .ticket_img {
  width: 55%;
}
.ticket .ticket_block_taimer {
  margin-top: 2vw;
}
.ticket .ticket_block_taimer .ticket_taimer {
  margin-top: -12vw;
  margin-left: -2vw;
}
.ticket .timer {
  width: 30%;
  margin: auto;
}
.ticket .timer .timer__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.ticket .timer .timer__items .timer__item {
  font-size: 3vw;
}
.ticket .timer .timer__items .timer__item:not(:last-child)::after {
  content: " :";
  font-size: 3vw;
}

.place {
  text-align: center;
  padding: 30px;
}
.place .place_subtitle {
  font-family: "KirnBerg";
  font-size: 5.5vw;
  line-height: 3vw;
  margin-bottom: 2vw;
}
.place .place_text {
  font-size: 1.2vw;
  line-height: 1.3vw;
  margin-bottom: 3vw;
}
.place .place_map {
  width: 80%;
  height: 30vw;
}
.place .palace_castle, .place .palace_restaurant {
  margin-bottom: 5vw;
}

.detail {
  padding-top: 8vw;
  width: 100%;
  height: 40vw;
  background-image: url(../pictures/png/atlas.png);
  background-size: 70%;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
}
.detail .detail_subtitle {
  font-family: "KirnBerg";
  font-size: 5.5vw;
  line-height: 3vw;
  margin-bottom: 3vw;
  opacity: 0;
}
.detail .detail_text {
  font-size: 1.2vw;
  line-height: 1.3vw;
  margin-bottom: 3vw;
  opacity: 0;
}

.contact {
  padding-top: 8vw;
  width: 100%;
  height: 50vw;
  background-image: url(../pictures/png/atlas.png);
  background-size: 70%;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
}
.contact .contact_header {
  font-family: "KirnBerg";
  font-size: 5.5vw;
  line-height: 3vw;
  margin-bottom: 3vw;
}
.contact .contact_number {
  font-size: 1.2vw;
  line-height: 1.3vw;
  margin-bottom: 2vw;
}
.contact .contact_title {
  font-family: "KirnBerg";
  font-size: 7.5vw;
  line-height: 4vw;
  line-height: 6vw;
  margin-top: 5vw;
}
.contact .contact_number_png {
  width: 3vw;
}

.anket {
  width: 100%;
  height: 45vw;
}

.Questionnaire {
  text-align: center;
  padding: 5vw 0 5vw 0;
}
.Questionnaire .Questionnaire_header {
  font-family: "KirnBerg";
  font-size: 7.5vw;
  line-height: 4vw;
  margin-bottom: 5vw;
}
.Questionnaire .Questionnaire_link {
  font-size: 1.2vw;
  line-height: 1.3vw;
  padding: 15px 15px 15px 15px;
  border-radius: 15px;
  background-color: rgba(218, 142, 66, 0.8980392157);
  border: 1px solid lightgray;
  color: white;
}
.Questionnaire .Questionnaire_link:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  text-decoration: none;
  background-color: #F8F6F4;
  color: rgba(218, 142, 66, 0.8980392157);
}

.day {
  width: 100%;
  text-align: center;
  background-image: url(../pictures/png/png_7.png);
  background-size: 70%;
  background-position: right;
  background-repeat: no-repeat;
}
.day .day_header {
  font-family: "KirnBerg";
  font-size: 5.5vw;
  line-height: 3vw;
  margin-bottom: 5vw;
}
.day .day_container {
  width: 30vw;
  margin: auto;
}
.day .day_container_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 8vw;
}
.day .day_container_item .day_container_text {
  font-size: 1.2vw;
  line-height: 1.3vw;
  width: 50%;
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  border-right: 3px solid #F8F6F4;
  border-left: 3px solid #F8F6F4;
}
.day .day_container_item .day_container_text hr {
  width: 100%;
  border-top: 3px dashed #333;
  color: #333;
  height: 5px;
}
.day .day_container_item .day_container_png {
  width: 50%;
  height: 100%;
  border-right: 3px solid #F8F6F4;
  border-left: 3px solid #F8F6F4;
  opacity: 0;
}

@media screen and (max-width: 500px) {
  .header_block {
    height: 70vh;
    background-size: 300%;
    background-position: 70% 25%;
    padding-top: 10vw;
  }
  .header_block .header_block_img {
    width: 40vw;
  }
  .header_block .header_block_text {
    margin-top: 40vw;
    font-size: 30vw;
    line-height: 15vw;
  }
  .header_block .header__img_marshrut {
    left: 30%;
    top: 20%;
    width: 70%;
  }
  .header_block .header__img_plain {
    top: 23%;
    left: 37%;
    width: 10vw;
    offset-path: path("M141.282 15.4968C145.737 -4.15094 172.191 -4.98113 182.215 15.4968C192.24 35.9748 165.372 50.6629 141.282 72.5031C117.191 94.3432 85.3759 90.1314 62.7554 72.5031L4.55692 27.6729");
  }
  .ticket {
    height: 70vh;
    background-size: 300%;
    background-position: 80% 25%;
    padding-top: 20vw;
  }
  .ticket .ticket_title {
    font-size: 22vw;
    line-height: 12vw;
    margin-bottom: 5vw;
  }
  .ticket .ticket_text {
    font-size: 5vw;
    line-height: 4.5vw;
    margin-bottom: 6vw;
  }
  .ticket .ticket_img {
    width: 100%;
  }
  .ticket .ticket_block_taimer {
    margin-top: 2vw;
  }
  .ticket .ticket_block_taimer .ticket_taimer {
    margin-top: -25vw;
  }
  .ticket .timer {
    width: 40%;
  }
  .ticket .timer .timer__items .timer__item {
    font-size: 6vw;
  }
  .ticket .timer .timer__items .timer__item:not(:last-child)::after {
    font-size: 6vw;
  }
  .place .place_subtitle {
    font-size: 22vw;
    line-height: 12vw;
    margin-bottom: 2vw;
  }
  .place .place_text {
    font-size: 5vw;
    line-height: 4.5vw;
    margin-bottom: 3vw;
    line-height: 6vw;
  }
  .place .place_map {
    width: 100%;
    height: 60vw;
  }
  .detail {
    height: 70vh;
    background-size: 250%;
    background-position: 0% 25%;
    padding-top: 25vw;
    width: 100%;
  }
  .detail .detail_subtitle {
    font-size: 22vw;
    line-height: 12vw;
    margin-bottom: 10vw;
  }
  .detail .detail_text {
    font-size: 5vw;
    line-height: 4.5vw;
    margin-bottom: 10vw;
  }
  .contact {
    padding-top: 35vw;
    height: 70vh;
    background-size: 250%;
    background-position: 70% 25%;
  }
  .contact .contact_header {
    font-size: 22vw;
    line-height: 12vw;
    margin-bottom: 3vw;
  }
  .contact .contact_number {
    font-size: 5vw;
    line-height: 4.5vw;
    margin-bottom: 2vw;
  }
  .contact .contact_title {
    font-size: 30vw;
    line-height: 15vw;
    font-size: 20vw;
    margin-top: 5vw;
  }
  .contact .contact_number_png {
    width: 15vw;
  }
  .anket {
    height: 100vh;
  }
  .Questionnaire {
    text-align: center;
    padding: 5vw 0 5vw 0;
  }
  .Questionnaire .Questionnaire_header {
    font-size: 30vw;
    line-height: 15vw;
    margin-bottom: 15vw;
    margin-top: 15vw;
  }
  .Questionnaire .Questionnaire_link {
    font-size: 5vw;
    line-height: 4.5vw;
    padding: 15px 15px 15px 15px;
    border-radius: 15px;
    background-color: rgba(218, 142, 66, 0.8980392157);
    border: rgba(218, 142, 66, 0.8980392157);
    border: 1px solid rgba(218, 142, 66, 0.8980392157);
    color: white;
  }
  .Questionnaire .Questionnaire_link:hover {
    -webkit-transition: 0.5s;
    transition: 0.5s;
    text-decoration: none;
    background-color: #F8F6F4;
    color: rgba(218, 142, 66, 0.8980392157);
  }
  .day {
    background-size: 230%;
    background-position: center;
    width: 100%;
  }
  .day .day_container {
    width: 100%;
  }
  .day .day_header {
    font-size: 22vw;
    line-height: 12vw;
    margin-bottom: 15vw;
  }
  .day .day_container_item {
    height: 50vw;
  }
  .day .day_container_item .day_container_text {
    font-size: 5vw;
    line-height: 4.5vw;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}