*{
    padding: 0;
    margin: 0;
}
@mixin text-height-title{
    font-family: "KirnBerg";
    font-size: 7.5vw;
    line-height: 4vw;
}
@mixin text-height-subtitle{
    font-family: "KirnBerg";
    font-size: 5.5vw;
    line-height: 3vw;
}
@mixin text-height-text{
    font-size: 1.2vw;
    line-height: 1.3vw;
}
.container{
    width: 80vw;
    overflow: hidden;
    padding: 0;
    margin: 0;
    margin: auto;
}
.ticket{
    margin: auto;
    padding-top: 50px;
    width: 90%;
    height:50vw;
    background-image: url(../pictures/png/atlas.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    margin-bottom: 5vw;
    .ticket_title{
        @include text-height-subtitle;
        margin-bottom: 3vw;
    }
    .ticket_text{
        @include text-height-text;
        margin-bottom: 1.3vw;
    }
    .ticket_img{
        width: 55%;
    }
    .ticket_block_taimer{
        margin-top: 2vw;
        .ticket_taimer{
            margin-top: -12vw;
            margin-left: -2vw;
        }
    }
    .timer{
        width: 30%;
        margin: auto;
    }
    .timer__items{
        display: flex;
        justify-content: space-around;
        .timer__item{
            font-size: 3vw;
        }
        .timer__item:not(:last-child)::after {
            content: ' :';
            font-size: 3vw;
          }
    }
    
}
.place{
    text-align: center;
    padding: 30px;
    .place_subtitle{
        @include text-height-subtitle;
        margin-bottom: 2vw
    }
    .place_text{
        @include text-height-text;
        margin-bottom: 3vw;
    }
    .place_map{
        width: 80%;
        height: 30vw;
    }
}
.detail{
    padding-top: 8vw;
    width: 100%;
    height: 40vw;
    background-image: url(../pictures/png/atlas.png);
    background-size: 70%;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    .detail_subtitle{
        @include text-height-subtitle;
        margin-bottom: 3vw;
    }
    .detail_text{
        @include text-height-text;
        margin-bottom: 3vw;
    }
}
.contact{
    padding-top: 8vw;
    width: 100%;
    height: 50vw;
    background-image: url(../pictures/png/atlas.png);
    background-size: 70%;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    .contact_header{
        @include text-height-subtitle;
        margin-bottom: 3vw
    }
    .contact_number{
        @include text-height-text;
        margin-bottom: 2vw
    }
    .contact_title{
        @include text-height-title;
        line-height: 6vw;
        margin-top: 5vw;
    }
    .contact_number_png{
        width: 3vw;
    }
}