@mixin text-height-title{
    font-family: "KirnBerg";
    font-size: 7.5vw;
    line-height: 4vw;
}
.container{
    width: 80vw;
    overflow: hidden;
    padding: 0;
    margin: 0;
    margin: auto;
}
.header_block{
    width: 100%;
    background-image: url(../pictures/png/atlas.png);
    background-size: 70%;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    margin-bottom: 5vw;
    .header_block_img{
        width: 13vw;
    }
    .header_block_text{
        margin-top: 20vw;
        @include text-height-title;
    }
}